#calculator{
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 15%;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(49, 48, 47);
    color: white;
}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:none;
    background-color: rgb(73, 72, 71);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}